.row
  .offset10.span2= link_to "New Fob", new_fob_path
%br
.row
  %strong.span1 ID
  %strong.span3 Key
  %strong.span2 Person
  %strong.span3 Edit
  %strong.span3 Delete
- @fobs.each do |fob|
  .row
    .span1= fob.id
    .span3= link_to fob.key, fob_url(fob.id)
    .span2= link_to fob.person.name, person_url(fob.person.id)
    .span3= link_to 'Edit', edit_fob_url(fob.id)
    .span3= link_to 'Delete', fob_url(fob.id), {:confirm => "Are you sure", :method => :delete }

.digg_patination= will_paginate @fobs, {:container => false}
