= semantic_form_for @person do |f|
  = f.semantic_errors
  = f.inputs do
    .row 
      .span First Name:* 
      .span2= f.input :name , :input_html => { :size => 20, :class => "override-width" }, :label => false 
    .row 
      .span Last Name:* 
      .span2= f.input :name , :input_html => { :size => 20, :class => "override-width" }, :label => false 
  = f.actions 
