<%= semantic_form_for @person do |f| %>
 <%= f.semantic_errors %>
  <%= f.inputs do %>
<div class="row">
 <div class ="span2">Name:* </div>
 <div class ="span2"><%= f.input :name , :input_html => { :size => 20, :class => "override-width" }, :label => false %></div>
</div>
    <% end %>
  <%= f.actions %>
<% end %>