<div class= "row">
	<div style="display:none" id="get_current_date"><%=@date.strftime "%m-%d-%Y"%></div>
	<div style="display:none" id="get_current_path"><%=request.env['PATH_INFO']%></div>
	<div class="span3">Report for: <%= @date %></div>
	<div class="offset8 span2" id="my_datepicker" ></div>
</div>

<div class = "row lead">
	<div class="span4">
		<% if defined?(person_name) %>
			Equipment for: <%= person_name %>
		<% else %>
			Equipment for Lab
		<% end %>
	</div>

	<div class="offset5 span3">Showing <%= "#{item_count} " + "item".pluralize(item_count) %></div>
</div>