<div class="row">
    <div class="span1"><%= person.id =%></div>
    <div class="span3"><%= person.name =%></div>

    <% person.fobs do |fob| %>
      <div class="span3"><%= fob =%></div>
    <% end %>

    <% person.doors do |door| %>
      <div class="span3"><%= door =%></div>
    <% end %>
    <div class="span3"><%= link_to "Edit", edit_person_path(person.id)  %></div>
    <div class="span1"><%= link_to "Delete", person_path(person.id), :confirm => "Are you sure?", :method => :delete %></div>
</div>
