.row
  .offset9.span3= link_to "Add a Person", new_person_path
%br
.row
  %strong.span1 ID
  %strong.span3 Name
  %strong.span2 Fobs
  %strong.span2 Doors
  %strong.span2 Door Keys
  %strong.span1 Edit
  %strong.span1 Delete
- @people.each do |person|
  .row
    .span1= link_to person.id, person_path(person.id)
    .span3= person.name
    .span2
      - if person.fobs.count > 0
        %ul.fobs
          - person.fobs.each do |fob|
            %li= link_to fob.key, fob_path(fob.id)
    .span2
      - if person.doors.count > 0
        %ul.doors
          - person.doors.each do |door|
            %li= link_to door.name, door_path(door.id)
    .span2
      - if person.door_keys.count > 0
        %ul.door_keys
          - person.door_keys.each do |door_key|
            %li= link_to door_key.id, door_key_path(door_key.id)
    .span1= link_to "Edit", edit_person_path(person.id)
    .span1= link_to "Delete", person_path(person.id)

.digg_pagination= will_paginate @people, {:container => false}
