<%= form_for(@person)  do |f| %>
  <p>
  <%= render 'shared/error_messages', :object_errors => @person %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  </p>
  <p>
  <%= f.submit %>
  </p>
  <% end %>
