<div class = "row">
  <div class="span4"><h3>Equipment for <%=@person.name%> </h3></div>
  <div class="span4 offset4"><h3>Report for: <%= @date %></h3></div>
  <div class="span5"><h3>Showing <span class="badge" style="background-color:#0000FF;"><%= @possession_contracts.count %></span> items</h3></div>
</div>
<table class="table table-striped", border="1">
  <tr>
    <th> Make </th>
    <th> Model </th>
    <th> Serial Number </th>
    <th> Contract Type </th>
    <th> Amount Owed</th>
  </tr>
    <% @possession_contracts.each do | pos_contract | %>
   <tr>
    <td> <%= pos_contract.equipment.make %> </td>
    <td> <%= pos_contract.equipment.model %> </td>
    <td> <%= pos_contract.equipment.serial_number %> </td>
    <td> <%= pos_contract.contract_type  %> </td>
    <td border="1"> <%= number_to_currency(pos_contract.payment) %></td>
  </tr>
  <% end %>
</table>
<div class = "row">
  <div class="span3 offset9" style="color:red;">  Total <%= number_to_currency(lease_total_payments(@possession_contracts))  %></div>
</div>
