<% item_count = @possession_contracts.count %>
<%= render :partial => "header_equipment_possession_on_date", :locals => { :date => @date, :item_count => item_count, :person_name => @person.name } %>

<table class="table table-striped", border="1">
  <tr>
    <th> Make </th>
    <th> Model </th>
    <th> Serial Number </th>
    <th> Contract Type </th>
    <th> Amount Owed</th>
  </tr>
    <% @possession_contracts.each do | pos_contract | %>
   <tr>
    <td> <%= pos_contract.equipment.make %> </td>
    <td> <%= pos_contract.equipment.model %> </td>
    <td> <%= pos_contract.equipment.serial_number %> </td>
    <td> <%= pos_contract.contract_type  %> </td>
    <td border="1"> <%= number_to_currency(pos_contract.payment) %></td>
  </tr>
  <% end %>
  <tr>
    <td colspan=4> </td>
    <td>Total <%= number_to_currency(lease_total_payments(@possession_contracts))  %></td>
  </tr>
</table>
