<table class="table table-striped">
  <tr>
    <th> ID </th>
    <th> Equipment ID </th>
    <th> Person ID </th>
    <th> Contract Type</th>
    <th> Payment if any </th>
    <th> Expires </th>
    <th> Edit </th>
    <th> Delete </th>
  </tr>
  <%@possession_contracts.each do |contract| %>
    <tr>
      <td><%= contract.id =%></td>
    <td> <%= contract.equipment_id =%></td>
    <td> <%= contract.person_id =%></td>
    <td> <%= contract.contract_type =%> </td>
    <td> <%= number_to_currency(contract.payment) =%> </td>
    <td> <%= contract.expires =%> </td>
    <td><%= link_to "Edit", edit_possession_contract_path(contract.id)  %></td>
    <td><%= link_to "Delete", possession_contract_path(contract.id), :confirm => "Are you sure?", :method => :delete %></td>
  </tr>
<% end %>
</table>
