<div class="row"> <div class="offset11 span1"><div class="btn btn-primary"> <%= link_to "New", new_possession_contract_path %></div></div></div>
<div class="row"><b>
    <div class="span1"> ID </div>
    <div class="span2"> Make </div>
    <div class="span2"> Model </div>
    <div class="span2"> Name </div>
    <div class="span2"> Contract Type</div>
    <div class="span2"> Payment if any </div>
    <div class="span2"> Start Date </div>
    <div class="span2"> Expires </div>
    <div class="span1"> Edit </div>
    <div class="span1"> Delete </div>
  </b>
</div>
  <%@possession_contracts.each do |contract| %>
<div class="row">
    <div class="span1"><%= contract.id %></div>
    <div class="span2"> <%= link_to contract.equipment.make, possession_contract_path(contract.id)  %></div>
    <div class="span2"> <%= contract.equipment.model %></div>
    <div class="span2"> <%= contract.person.name %></div>
    <div class="span2"> <%= contract.contract_type %> </div>
    <div class="span2"> <%= number_to_currency(contract.payment) %> </div>
    <div class="span2"> <%= contract.start_date %> </div>
    <div class="span2"> <%= contract.expires %> </div>
    <div class="span1"><%= link_to "Edit", edit_possession_contract_path(contract.id)  %></div>
    <div class="span1"><%= link_to "Delete", possession_contract_path(contract.id), :confirm => "Are you sure?", :method => :delete %></div>
</div>
<% end %>
<br>
<div class="digg_pagination">
    <%= will_paginate @possession_contracts, :container => false %>
</div>
