<%=form_for(@possession_contract) do |f| %>
  <%= render 'shared/error_messages', :object_errors => @possession_contract %>
<p>
<%= f.label :person_id %>
<%= f.collection_select(:person_id, Person.all, :id, :name) %>
</p>
<p>
<%= f.label :equipment_id %>
<% equipment_make_model_array = Equipment.all.map { |equipment|  [equipment.make + ' ' + equipment.model, equipment.id] } %>
<%=f.select(:equipment_id, equipment_make_model_array) %>
</p>
<%= f.label :contract_type %>
<%=f.select(:contract_type, PossessionContract::ALL_CONTRACT_TYPES) %>
</p>
<p>
<%=f.label :expires %>
<%=f.date_select( :expires) %>
</p>
<p>
<%=f.label :payment %>
<%=f.text_field :payment %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>
