<div class="row"><b>
    <div class="span1"> ID </div>
    <div class="span2"> Make </div>
    <div class="span2"> Model </div>
    <div class="span2"> Name </div>
    <div class="span2"> Contract Type</div>
    <div class="span2"> Payment if any </div>
    <div class="span2"> Start Date </div>
    <div class="span1"> Expires </div>
    <div class="span1"> Edit </div>
    <div class="span1"> Delete </div>
  </b>
</div>
<div class="row">
    <div class="span1"> <%= @possession_contract.id %></div>
    <div class="span2"> <%= @possession_contract.equipment.make %></div>
    <div class="span2"> <%= @possession_contract.equipment.model %></div>
    <div class="span2"> <%= @possession_contract.person.name %></div>
    <div class="span2"> <%= @possession_contract.contract_type %> </div>
    <div class="span2"> <%= number_to_currency(@possession_contract.payment) %> </div>
    <div class="span2"> <%= @possession_contract.start_date %> </div>
    <div class="span1"> <%= @possession_contract.expires %> </div>
    <div class="span1"> <%= link_to "Edit", edit_possession_contract_path(@possession_contract.id)  %></div>
    <div class="span1"> <%= link_to "Delete", possession_contract_path(@possession_contract.id), :confirm => "Are you sure?", :method => :delete %></div>
</div>
