.row
  .span3= link_to door_key.id, door_key_url(door_key.id)
  .span3= door_key.door.name
  .span3= door_key.person.name
  .span3= link_to 'Edit', edit_door_key_url(door_key.id)
  .span3= link_to 'Delete', door_key_url(door_key.id), {:confirm => "Are you sure", :method => :delete }
