<%= semantic_form_for @equip do |f| %>
 <%= f.semantic_errors :base%>
  <%= f.inputs do %>
    <div class="row"><div class="span2">Make:* </div><div class ="Span3"><%= f.input :make , :input_html => { :size => 20 }, :label => false %></div></div>
    <div class="row"><div class="span2">Model:* </div><div class ="Span3"><%= f.input :model , :input_html => { :size => 20}, :label => false %></div></div>
    <div class="row"><div class="span2">Replacement Cost: </div><div class ="Span3"><%= f.input :replacement_cost , :as => :string, :input_html => { :size => 4 }, :label => false %></div></div>
    <div class="row"><div class="span2">Serial Number: </div><div class ="Span3"><%= f.input :serial_number , :input_html => { :size => 20}, :label => false %></div></div>
  <% end %>
  <%= f.actions %>
<% end %>