<div class ="row">
    <div class="span1">Search: </div>
    <div class="span2">
        <%= form_tag equipment_index_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], :class => "search_class" %>

    </div>
    <div class="span1"><%= submit_tag "Search", :name => nil %>
        <% end %></p></div>
    <div class="offset5 span3"><%= link_to "Add Equipment", new_equipment_path %></div>
</div>

<div class="row">
    <div class="span1"> ID </div>
    <div class="span2"> Make </div>
    <div class="span2"> Model </div>
    <div class="span2"> Replacement Cost </div>
    <div class="span2"> Serial Number </div>
    <div class="span1"> Edit </div>
    <div class="span1"> Delete </div>
</div>

  <%@equip.each do |piece| %>
<div class="row">
    <div class="span1"> <%= piece.id %> </div>
    <div class="span2"> <%= piece.make %> </div>
    <div class="span2"> <%= piece.model %> </div>
    <div class="span2"> <%= number_to_currency(piece.replacement_cost) %> </div>
    <div class="span2"> <%= piece.serial_number %> </div>
    <div class="span1"> <%= link_to "Edit", edit_equipment_path(piece.id) %> </div>
    <div class="span1"> <%= link_to "Delete", equipment_path(piece.id), :confirm => "Are you sure?", :method => :delete %> </div>
</div>
<% end %>
<div class="digg_pagination">
    <%= will_paginate @equip, :container => false %>
  </div>