<table class="table">
<tr>
    <th> ID </th>
    <th> Equipment Make </th>
    <th> Equipment Model </th>
    <th> Replacement Cost </th>
    <th> Serial Number </th>
    <th> Edit </th>
    <th> Delete </th>
  </tr>
    <tr>
      <td><%= @equip.id =%>
    <td> <%= @equip.model =%></td>
    <td> <%= @equip.make =%></td>
    <td> <%= @equip.replacement_cost =%> </td>
    <td> <%= @equip.serial_number =%> </td>
    <td> <%= link_to "Edit", edit_equipment_path(@equip.id) %> </td>
    <td> <%= link_to "Delete", equipment_path(@equip.id), :confirm => "Are you sure?", :method => :delete %></td>
  </tr>
</table>
