.row
  .span1 ID   
  .span2 Make 
  .span2 Model
  .span2 Replacement Cost 
  .span2 Serial Number 
  .span1 Edit 
  .span1 Delete 

  .row
  - @equip.each do |piece| 
    .span1= piece.id 
    .span2= piece.make 
    .span2= piece.model 
    .span2= number_to_currency(piece.replacement_cost) 
    .span2= piece.serial_number 
    .span1= link_to "Edit", edit_equipment_path(piece.id)
    .span1= link_to "Delete", equipment_path(piece.id), confirm: "Are you sure?", method: :delete
    .digg_pagination= will_paginate @equip, container: false
