= semantic_form_for @agreement do |f|
  = f.semantic_errors :base
  = f.inputs do
    .row 
      .span1 Name: 
      .span5= f.input :name , :input_html => { :size => 20, :class => "override-width" }, :label => false 
    .row 
      .span1 Author: 
      .span5= f.input :author, :as => :select, :collection => Agreement::ALL_AUTHOR_TYPES, :label => false
    .row 
      .span1 Version number: 
      .span5= f.input :version, :as => :string, :input_html => { :maxlength => 3, :class => "override-width" }, :label => false 
  =f.actions