.row 
  .span3= link_to agreement.name, agreement_path(agreement.id)
  .span3= agreement.author
  .span3= agreement.version
  .span1= link_to "Edit", edit_agreement_path(agreement.id) 
  .span1= link_to "Delete", agreement_path(agreement.id), :confirm => "Are you sure?", :method => :delete 