<div class="flash-notice hidden"></div>
  <div class="row">
    <div class ="span3"> Name </div>
    <div class ="span3"> Author </div>
    <div class ="span3"> Version </div>
    <div class ="span1"> Delete </div>
    <div class ="span1 submit"> Submit </div>
</div>
<% @agreement.each do |article| %>
    <div class="row">
      <%=form_for(article, :html => { :class => "editableform"} ) do |f| %>
          <div class ="span3"><div class= "editable isvisible"><%= article.name %></div><div class="editable ishidden"> <%=f.text_field :name, :class => "myformelement" %></div></div>
          <div class ="span3"><div class= "editable isvisible"><%= article.author %></div><div class="editable ishidden"> <%=f.select(:author, Agreement::ALL_AUTHOR_TYPES,{},{:class => "myformelement"}) %></div></div>
          <div class ="span3"><div class= "editable isvisible"><%= article.version %></div><div class="editable ishidden"> <%=f.text_field :version, :class => "myformelement" %></div></div>
          <div class ="span1"><%= link_to "Delete", agreement_path(article.id), :confirm => "Are you sure?", :method => :delete %></div>
          <div class ="span1 submit"><%= f.submit %></div>
      <% end %>
    </div>
<% end %>

