<%= semantic_form_for @agreement_execution do |f| %>
  <% f.semantic_errors :base %>
  <%= f.inputs do %>
    <div class="row"><div class="span2">Person*: </div><div class="span5"><%= f.input :person, :as => :select, :collection => Person.find(:all, :order => :name), :label=> false %></div></div>
    <div class="row"><div class="span2">Agreement*: </div><div class="span5"><%= f.input :agreement, :as => :select, :collection => Agreement.find(:all, :order => :name), :label=> false %></div></div>
    <div class="row"><div class="span2">Date*: </div><div class="span5"><%= f.input :date_signed, :as => :date_picker, :label=> false %></div></div>
    <div class="row"><div class="span2">Dropbox URL*: </div><div class="span5"><%= f.input :agreement_url, :as => :url, :label=> false %></div></div>
  <% end %>
  <%= f.actions %>
<% end %>