<div class ="row"><div class="offset9 span3"><%= link_to "New Agreement Execution", new_agreement_execution_path %></div></div>
<div class ="row headingrow">
  <b>
  <div class ="span3">Associated Person</div>
  <div class ="span3">Associated Agreement</div>
  <div class ="span2">Date Signed</div>
  <div class ="span3">Signed Document</div>
  <div class ="span1">Edit</div>
  <div class ="span1">Delete</div>
</b>
</div>
<% @agreement_executions.each do |agreement_execution| %>
  <div class ="row">
      <div class ="span3"><%= link_to agreement_execution.person.name, agreement_execution_path(agreement_execution.id) %></div>
      <div class ="span3"><%= agreement_execution.agreement.name + ' v' + agreement_execution.agreement.version.to_s %></div>
      <div class ="span2"><%= agreement_execution.date_signed.strftime("%Y-%m-%d") %></div>
      <div class ="span3"><%= link_to "Dropbox Link", agreement_execution.agreement_url %></div>
      <div class ="span1"><%= link_to "Edit", edit_agreement_execution_path(agreement_execution.id) %></div>
      <div class ="span1"><%= link_to "Delete", agreement_execution_path(agreement_execution.id), :confirm => "Are you sure?", :method => :delete %></div>
  </div>
<% end %>

