<div class ="row"><div class="offset9 span3"><%= link_to "New Agreement Execution", new_agreement_execution_path %></div></div>
<div class ="row">
  <b>
  <div class ="span3">Associated Person</div>
  <div class ="span3">Associated Agreement</div>
  <div class ="span2">Date Signed</div>
  <div class ="span3">Signed Document</div>
  <div class ="span1">Delete</div>
  <div class ="span1 submit">Submit</div>
</b>
</div>
<% @agreement_executions.each do |agreement_execution| %>
  <div class ="row">
    <%=form_for(agreement_execution, :html => { :id => "agreement_execution_#{agreement_execution.id}", :class => "editableform"} ) do |f| %>
      <div class ="span3">
        <div class ="editable isvisible"><%= agreement_execution.person.name %></div>
        <div class ="editable ishidden"><%= f.collection_select(:person_id, Person.all, :id, :name, {}, {:class => "myformelement"}) %></div>
         </div>

      <% agreement_name_and_version = Agreement.all.map { |agreement| [agreement.name + ' v' + agreement.version.to_s, agreement.id] } %>
      <div class ="span3">
        <div class ="editable isvisible"><%= agreement_execution.agreement.name + ' v' + agreement_execution.agreement.version.to_s %></div>
        <div class ="editable ishidden"><%= f.select(:agreement_id, agreement_name_and_version,{},{:class => "myformelement"}) %></div>
      </div>

      <div class ="span2">
        <div class ="editable isvisible"><%= agreement_execution.date_signed.strftime("%Y-%m-%d") %></div>
        <div class ="editable ishidden"><%= f.text_field :date_signed, :value =>  agreement_execution.date_signed.strftime("%Y-%m-%d") , :id => "agreement_execution_date_signed_#{agreement_execution.id}", :class => "datePicker myformelement" %></div>
      </div>

      <div class ="span3">
        <div class ="editable isvisible"><%= agreement_execution.agreement_url %></div>
        <div class ="editable ishidden"><%=f.text_field :agreement_url, :class => "myformelement" %></div>
      </div>

      <div class ="span1"><%= link_to "Delete", agreement_execution_path(agreement_execution.id), :confirm => "Are you sure?", :method => :delete %></div>
      <div class ="span1 submit"><%= f.submit %></div>

      <% end %>
  </div>
<% end %>

