<!doctype html>
<html>
  <head>
    <title>Glados2</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="./index.html">Glados 2</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href=<%= people_path %>>People</a></li>
              <li><a href=<%= equipment_index_path %>>Equipment</a></li>
              <li><a href=<%= possession_contracts_path %>>Possession Contracts</a></li>
              <li><a href=<%= people_equipment_path %>>Ownership Reports</a></li>
              <li><a href=<%= agreements_path %>>Agreements</a></li>
              <li><a href=<%= agreement_executions_path %>>Agreement Executions</a></li>
              <li><a href=<%= doors_path %>>Doors</a></li>
              <li><a href=<%= fobs_path %>>Fobs</a></li>
              <li><a href=<%= door_keys_path %>>Door Keys</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">.</div>
      <div class="row mainwindow">
        <div class ="some_alert">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
        </div>
      <%= yield %>
      </div>
  </body>
</html>
